$border-gray: #c7c7c7;
$dark-blue: rgb(15, 15, 58);
body {
    margin: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    // grid
    display: grid;
    grid-auto-columns: fit-content(100%);
    grid-gap: 20px;
}

.versions {
    h2 {
        display: inline-grid;
        padding: 10px;
    }
}

.card-container {
    // parent grid
    justify-content: start;
    // subgrid
    display: grid;
    // max-width: 625px;
    .info {
        grid-column: 2/3;
    }
    // styling
    padding: 20px 20px;
    border: 1px solid $border-gray;
    border-radius: 10px;
    box-shadow: -5px 5px 5px $border-gray;
    img {
        border: 1px solid $dark-blue;
        max-width: 125px;
        max-height: 125px;
        border-radius: 50%;
        margin-right: 25px;
    }
}

hr {
    float: none;
    color: $border-gray;
    width: 25%;
    margin-left: 0px;
}

.title {
    color: $dark-blue;
    font-size: 20px;
    margin: 0px 0px;
}

.submit {
    color: $dark-blue;
    border: 1px solid $dark-blue;
    width: 40%;
    padding: 20px 20px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
        background-color: $dark-blue;
        color: white;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

#bonus {
    text-align: center;
    margin-top: 50px;
    display: grid;
    img {
        margin-right: 20px;
        max-width: 150%;
        max-height: 150%;
    }
}

@media screen and (max-width: 600px) {
    .card-container {
        img {
            max-height: 75px;
        }
    }
    hr {
        width: 100%;
    }
    .submit {
        width: 100%;
    }
}